<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmountSelected</key>
	<true/>
	<key>AccountSelected</key>
	<true/>
	<key>CategorySelected</key>
	<true/>
	<key>TypeSelected</key>
	<false/>
	<key>DateSelected</key>
	<false/>
	<key>RecurringSelected</key>
	<false/>
	<key>NoteSelected</key>
	<false/>
	<key>ImageSelected</key>
	<false/>
	<key>PayeeSelected</key>
	<false/>
	<key>ClearSelected</key>
	<false/>
</dict>
</plist>
