<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pocket Expense.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Pocket Expense.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PocketExpense.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PocketExpense_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PocketExpense_release_lite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE03A1A7211D706100D976F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0B436E2126A88800642049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0B59EB2125204D00BBECDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0EB6172133E2F700D8E063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1928212134EBD800D5B3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
